<%= form_tag admin_stock_item_path(item), method: :put, class: 'toggle_stock_item_backorderable' do %>
  <%= check_box_tag 'stock_item[backorderable]', true,
        item.backorderable?,
        class: 'stock_item_backorderable',
        id: "stock_item_backorderable_#{item.stock_location.id}" %>

  <p>
    <%= label_tag 'stock_item[max_backorders]', Spree.t(:max), title: 'For unlimited backorders, enter zero' %>
    <%= number_field_tag 'stock_item[max_backorders]', item.max_backorders, class: 'stock_item_max_backorders' %>
  </p>

  <%= link_to Spree.t(:save), '#save', class: 'save-link' %>
<% end %>
